<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-back-button slot="start" text="Regresar" defaultHref="tabs/home">
            </ion-back-button>
        </ion-buttons>
        <ion-title>SHEIN CATEGORIAS</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-label (click)="navigate(4)">
                Pantalones Hombres
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label (click)="navigate(3)">
                Pantalones Mujeres
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label (click)="navigate(1)">
                Playeras Hombres
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label (click)="navigate(2)">
                Playeras Mujeres
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label (click)="navigate(5)">
                Abrigos Hombres
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label (click)="navigate(6)">
                Abrigos Mujeres
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label (click)="navigate(8)">
                Lenceria Hombres
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label (click)="navigate(7)">
                Lenceria Mujeres
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>